@{
    ViewData["Title"] = "Museu - Viagem a Marte";
}

<div class="text-center">
    <h1 class="display-4">Museu Multitematico</h1>
    <h2 class="display-4">Primeira viagem a marte</h2>
    
    </div>

<body>
    <h2>Página Inicial</h2>
    <p>Isto é um testeeee</p>
    
    <img src="~/imagens/01_superficie_marte.jpg" alt="Obra 1, Início da Exploração/ 
                “O despertar da exploração" />
    <p>
        A exploração de Marte começou em 1960, mas ganhou destaque com as sondas 
        Viking 1 e 2, que pousaram em 1976 e enviaram dados sobre a superfície do 
        planeta. As missões Mars Pathfinder (1997) e Mars Global Surveyor 
        (1996-2006) ampliaram nosso conhecimento, com o rover Sojourner realizando 
        a primeira exploração móvel.
    </p>

    <img src="~/imagens/02_Marte_espaço.jpg" alt="Obra 2, Avanços Tecnológicos e 
                Planejamento/ “Caminhos para o Futuro" />
    <p>
        Nos anos 2000, a NASA lançou o rover Curiosity, focando na habitabilidade 
        de Marte, enquanto a SpaceX, fundada por Elon Musk, anunciou planos para 
        colonização. O projeto Artemis visa retornar à Lua como um passo para Marte.
        A missão Perseverance, lançada em 2020, busca sinais de vida passada e 
        coleta amostras, enquanto o helicóptero Ingenuity realiza voos controlados, 
        demonstrando novas possibilidades de exploração.
    </p>
    <img src="~/imagens/03_Marte_sol.jpeg" alt="Obra 3, Desafios e Futuro da 
                Exploração/ “Desafios e Novos Horizontes" />
    <p>Viajar para Marte apresenta desafios, como a longa duração da jornada e a 
        exposição à radiação. Testes em ambientes simulados ajudam a preparar a 
        missão. Com colaborações entre agências espaciais e empresas privadas, o 
        sonho de uma missão tripulada a Marte pode se tornar realidade nas 
        próximas décadas, refletindo a curiosidade e a perseverança da humanidade. 
    </p>

    <h2> Pergunta 1 - Você achou que as exposições estimularam sua curiosidade sobre o tema? </h2>

    <h2> Pergunta 2 - Qual a probabilidade de você recomendar esta exposição a um amigo ou familiar? </h2>

    
</body>